@import "variables";

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.course-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 1rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border: 0.1rem solid rgba(0, 51, 205, 0.26);

  img {
    min-height: auto;
    max-height: 400px;
  }

  * {
    margin-right: 1rem;
  }
}

.button-signup {
  background-color: $accent;
  color: $primary;
  border-radius: $radius;
  border: $accent;
}

.coursecard {
  box-shadow: 0 2px 8px $boxshadow;
  background: $a180;
  & article form button {
    max-width: 50%;
    margin: 0 0.25rem;
  }
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem;
    align-items: center;
    justify-content: space-between;
    border: 0.1rem solid $boxshadow;
    background: $a180;
    border: $bordercard;
    border-radius: $radius;
    color: $accent;
    &__image {
      max-width: 50%;
      height: 10rem;
      text-align: center;
      padding: 0;
    }
    img {
      min-height: auto;
      max-height: 400px;
      margin: 2vw;
      max-width: 50%;
      max-height: 100%;
    }
  }
  &__content {
    flex-direction: column;
  }
  &__item {
    flex-direction: column;
  }
  &__actions {
    padding: 1rem;
    text-align: center;
  }
}

.grid-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

  a {
    p {
      color: $a180;
      background-color: transparent;
      text-decoration: none;
    }

    article {
      margin: 1rem;
    }

    img {
      min-height: auto;
      max-height: 300px;
    }
  }
}
