@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Nunito:wght@300&family=Righteous&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: $headingfont;
    color: $primary;
}
