@import "variables";

.form-control {
  margin: auto;
  color: $primary;
}

form {
  width: 80%;
  margin: auto;
}

fieldset.form-control {
  border-radius: $radiuslegend;
  border: $borderlegend;
  width: 80%;
  margin: auto;
}

fieldset.form-control,
div.form-control {
    width: 80%;
    margin: auto;
    background: $a180;
    color: $accent;
}

legend.form-control {
    border-radius: $radius;
    border: $border;
    font-weight: bolder;
    color: $primary;
    padding: 1vw;
    background: $accent;
}

.form-control label,
.form-control input,
.form-control textarea {
    align-items: center;
    width: 100%;
    font: inherit;
}

.form-control label {
    margin: 20px 0 0 0;
}

.form-control input,
.form-control textarea {
  background: $accent;
  margin-bottom: 5vw;
  border: $border;
  border-radius: $radius;
}

.form-control input:focus,
.form-control textarea:focus {
  background: $inputfocus;
  border: $borderfocus;
  color: $primary;
}

.form-control input.invalid,
.form-control textarea.invalid {
  border-color: $a180;
  background: lighten($a180, 30%);
}

button.btn {
    width: 70%;
    margin: 20px 15%;
    background: $primary;
    color: $accent;
    border: $buttonborder;
    border-radius: $radius;
    box-shadow: $boxshadow;
}

button.btn:active, button.btn:hover {
  background: $accent;
  color: $primary;
  border: $border;

}