@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500&family=Nunito:wght@300&family=Righteous&family=Yanone+Kaffeesatz:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Nunito:wght@300&family=Righteous&display=swap");
h1, h2, h3, h4, h5, h6 {
  font-family: "Dosis", sans-serif;
  color: #0033cd;
}

.form-control {
  margin: 0 4vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  color: #0033cd;
}

legend.form-control {
  margin-bottom: 5vw;
  color: #0033cd;
  border-radius: 10px;
  border: 2px solid #0033cd;
  padding: 1vw;
  background: #fff2cd;
  font-family: "Dosis", sans-serif;
}

fieldset.form-control {
  border-radius: 10px;
}

form {
  max-width: 80%;
  margin: auto;
}

fieldset.form-control,
div.form-control {
  background: #cd9900;
  color: #fff2cd;
  width: 100%;
  margin: auto;
}

button.btn {
  background: #0033cd;
  color: #fff2cd;
  font-family: "Dosis", sans-serif;
  width: 50%;
  border: 2px solid #fff2cd;
  border-radius: 10px;
  margin: auto;
  margin-top: 5vw;
  -webkit-box-shadow: rgba(0, 205, 205, 0.26);
          box-shadow: rgba(0, 205, 205, 0.26);
}

button.btn:active, button.btn:hover {
  background: #fff2cd;
  color: #0033cd;
  border: 2px solid #0033cd;
}

.form-control label,
.form-control input,
.form-control textarea {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.form-control label {
  margin: 0 2vw;
}

.form-control input,
.form-control textarea {
  background: #fff2cd;
  border: 2px solid #0033cd;
  font: inherit;
  border-radius: 10px;
  margin-bottom: 5vw;
}

.form-control input:focus,
.form-control textarea:focus {
  background: #ffc61a;
  border: 3px solid #0033cd;
  color: #fff2cd;
}

.form-control input.invalid,
.form-control textarea.invalid {
  border-color: #cd0000;
  background: #ff6767;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  background: #fff2cd;
}

main {
  padding: 1rem;
  margin: auto;
}

form {
  display: inline;
}

.center {
  text-align: center;
}

.image {
  height: 10vw;
}

.image img {
  height: 100%;
}

.main-header {
  width: 100%;
  height: 3.5rem;
  background: #0033cd;
  padding: 0 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff2cd;
  font-family: "Yanone Kaffeesatz", sans-serif;
}

.main-header__nav {
  height: 100%;
  width: 100%;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-header__item {
  margin: 0 1rem;
  padding: 0;
}

.main-header__item a,
.main-header__item button {
  font: inherit;
  background: transparent;
  border: none;
  text-decoration: none;
  color: #fff2cd;
  cursor: pointer;
  font-weight: bold;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item button:hover,
.main-header__item button:active {
  color: #cd0099;
}

.mobile-nav {
  width: 30rem;
  height: 100vh;
  max-width: 90%;
  position: fixed;
  left: 0;
  top: 0;
  background: #0033cd;
  z-index: 10;
  padding: 2rem 1rem 1rem 2rem;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  font-family: "Yanone Kaffeesatz", sans-serif;
}

.mobile-nav.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-nav__item-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
}

.mobile-nav__item {
  margin: 1vw;
  padding: 0;
}

.mobile-nav__item a,
.mobile-nav__item button {
  font: inherit;
  text-decoration: none;
  color: #ffe6f9;
  font-size: 5vw;
  padding: 0.5vw 2vw;
  background: transparent;
  border: none;
  cursor: pointer;
}

.mobile-nav__item a:active,
.mobile-nav__item a:hover,
.mobile-nav__item a.active,
.mobile-nav__item button:hover,
.mobile-nav__item button:active {
  background: #0033cd;
  color: #fff2cd;
  border-radius: 10px;
}

#side-menu-toggle {
  border: 2px solid #fff2cd;
  border-radius: 10px;
  font: inherit;
  padding: 0.5rem;
  display: block;
  background: transparent;
  color: #fff2cd;
  cursor: pointer;
}

#side-menu-toggle:focus {
  outline: none;
}

#side-menu-toggle:active,
#side-menu-toggle:hover {
  color: #ffeb3b;
  border-color: #ffeb3b;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.card {
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.card__header,
.card__content {
  padding: 1rem;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
  margin: 0;
}

.card__image {
  width: 100%;
  height: 10rem;
  text-align: center;
}

.card__image img {
  max-width: 100%;
  max-height: 100%;
}

.card__actions {
  padding: 1rem;
  text-align: center;
}

.card__actions button,
.card__actions a {
  margin: 0 0.25rem;
}

.btn {
  display: inline-block;
  padding: 0.25rem 1rem;
  text-decoration: none;
  font: inherit;
  border: 1px solid #cd0099;
  color: #0033cd;
  background: #0033cd;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background: #00cdcd;
  color: #0033cd;
}

.btn.danger {
  color: #cd0000;
  border-color: #cd0000;
}

.btn.danger:hover,
.btn.danger:active {
  background: #cd0000;
  color: #0033cd;
}

.user-message {
  margin: auto;
  width: 90%;
  border: 1px solid #4771fa;
  padding: 0.5rem;
  border-radius: 3px;
  background: #b9c9ff;
  text-align: center;
}

.user-message--error {
  border-color: #cd0000;
  background: #ffb0b0;
  color: #cd0000;
}

.pagination {
  margin-top: 2rem;
  text-align: center;
}

.pagination a {
  text-decoration: none;
  color: #0033cd;
  padding: 0.5rem;
  border: 1px solid #cd0099;
  margin: 0 1rem;
}

.pagination a:hover,
.pagination a:active,
.pagination a.active {
  background: #0033cd;
  color: #0033cd;
}
/*# sourceMappingURL=main.css.map */