.form-control {
  margin: auto;
  color: #0033cd;
}

a#reset,
a#reset:hover,
a#reset:visited {
  color: #fff2cd;
}

fieldset.form-control {
  border-radius: 20px;
  border: 10px solid #0033cd;
  width: 80%;
  margin: auto;
}

fieldset.form-control,
div.form-control {
  width: 80%;
  margin: auto;
  background: #cd9900;
  color: #fff2cd;
}

legend.form-control {
  text-align: center;
  border-radius: 10px;
  border: 2px solid #0033cd;
  font-weight: bolder;
  color: #0033cd;
  padding: 1vw;
  background: #fff2cd;
}

.form-control label,
.form-control input,
.form-control textarea {
  margin: 0 0 20px 0;
  text-align: left;
  width: 100%;
  font: inherit;
}

.form-control label {
  margin: 20px 0 0 0;
}
.form-control input,
.form-control textarea {
  background: #fff2cd;
  margin-bottom: 5vw;
  border: 2px solid #0033cd;
  border-radius: 10px;
}
.form-control input:focus,
.form-control textarea:focus {
  background: #ffe69a;
  border: 3px solid #6600cd;
  color: #0033cd;
}
.form-control input.invalid,
.form-control textarea.invalid {
  border-color: #cd9900;
  background: #ffd967;
}

button.btn {
  width: 100%;
  background: #0033cd;
  color: #fff2cd;
  border: 2px solid #fff2cd;
  border-radius: 10px;
  box-shadow: rgba(0, 51, 205, 0.26);
}

button.btn:active,
button.btn:hover {
  background: #fff2cd;
  color: #0033cd;
  border: 2px solid #0033cd;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.course-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 1rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border: 0.1rem solid rgba(0, 51, 205, 0.26);
}
.course-container img {
  min-height: auto;
  max-height: 400px;
}
.course-container * {
  margin-right: 1rem;
}

.button-signup {
  background-color: #fff2cd;
  color: #0033cd;
  border-radius: 10px;
  border: #fff2cd;
}

.coursecard {
  box-shadow: 0 2px 8px rgba(0, 51, 205, 0.26);
  background: #cd9900;
}
.coursecard article form button {
  max-width: 50%;
  margin: 0 0.25rem;
}
.coursecard__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1rem;
  align-items: center;
  justify-content: space-between;
  border: 0.1rem solid rgba(0, 51, 205, 0.26);
  background: #cd9900;
  border: 3px solid #6600cd;
  border-radius: 10px;
  color: #fff2cd;
}
.coursecard__container__image {
  max-width: 50%;
  height: 10rem;
  text-align: center;
  padding: 0;
}
.coursecard__container img {
  min-height: auto;
  max-height: 400px;
  margin: 2vw;
  max-width: 50%;
  max-height: 100%;
}
.coursecard__content {
  flex-direction: column;
}
.coursecard__item {
  flex-direction: column;
}
.coursecard__actions {
  padding: 1rem;
  text-align: center;
}

.grid-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.grid-container a p {
  color: #cd9900;
  background-color: transparent;
  text-decoration: none;
}
.grid-container a article {
  margin: 1rem;
}
.grid-container a img {
  min-height: auto;
  max-height: 300px;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  color: #0033cd;
}

body {
  padding: 0;
  margin: 0;
  font-weight: bold;
  background: #fff2cd;
}

main {
  padding: 1rem;
  margin: auto;
}

form {
  display: inline;
}

.centered {
  text-align: center;
}

.image {
  height: 10vw;
}

.image img {
  height: 100%;
}

.main-header {
  width: 100%;
  height: 3.5rem;
  background: #0033cd;
  padding: 0 1.5rem;
  display: flex;
  justify-items: left;
  color: #fff2cd;
}
.main-header__nav {
  height: 100%;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: space-between;
}
.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.main-header__item {
  margin: 0 1rem;
  padding: 0;
}
.main-header__item a, .main-header__item button {
  font: inherit;
  background: transparent;
  border: none;
  text-decoration: none;
  color: #fff2cd;
  cursor: pointer;
  font-weight: bold;
}
.main-header__item a:hover,
.main-header__item a:active,
.main-header__item button:hover,
.main-header__item button:active {
  color: #fff2cd;
  background: #cd9900;
}

.mobile-nav {
  width: 30rem;
  height: 100%;
  max-width: 90%;
  position: fixed;
  left: 0;
  top: 0;
  background: #0033cd;
  z-index: 10;
  padding: 2rem 1rem 1rem 2rem;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}
.mobile-nav__item-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.mobile-nav__item {
  margin: 1vw;
  padding: 0;
}
.mobile-nav__item a,
.mobile-nav__item button {
  font: inherit;
  text-decoration: none;
  color: #ffcdf2;
  padding: 0.5vw 2vw;
  background: transparent;
  border: none;
  cursor: pointer;
}
.mobile-nav__item a:active,
.mobile-nav__item a:hover,
.mobile-nav__item a.active,
.mobile-nav__item button:hover,
.mobile-nav__item button:active {
  background: #0033cd;
  color: #fff2cd;
  border-radius: 10px;
}

.mobile-nav.open {
  transform: translateX(0);
}

#side-menu-toggle {
  height: 90%;
  margin: 0.25% 0;
  align-content: flex-start;
  border: 2px solid #fff2cd;
  border-radius: 10px;
  font: inherit;
  display: block;
  background: transparent;
  color: #fff2cd;
  cursor: pointer;
}

#side-menu-toggle:focus {
  outline: none;
}

#side-menu-toggle:active,
#side-menu-toggle:hover {
  color: #fff2cd;
  border-color: #fff2cd;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.btn {
  display: inline-block;
  padding: 0.25rem 1rem;
  text-decoration: none;
  font: inherit;
  border: 1px solid #cd0000;
  color: #0033cd;
  background: #0033cd;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background: #cd0099;
  color: #0033cd;
}

.btn.danger {
  color: #cd9900;
  border-color: #cd9900;
}

.btn.danger:hover,
.btn.danger:active {
  background: #cd9900;
  color: #0033cd;
}

.user-message {
  margin: auto;
  width: 90%;
  border: 2px solid #0033cd;
  padding: 0.5rem;
  border-radius: 3px;
  text-align: center;
}

.user-message--error {
  border-color: #cd9900;
  background: #cd0000;
  color: #fff2cd;
  font-weight: bold;
}

.pagination {
  margin-top: 2rem;
  text-align: center;
}

.pagination a {
  text-decoration: none;
  color: #0033cd;
  padding: 0.5rem;
  border: 1px solid #cd0000;
  margin: 0 1rem;
}

.pagination a:hover,
.pagination a:active,
.pagination a.active {
  background: #0033cd;
  color: #0033cd;
}

@media (min-width: 768px) {
  .main-header__nav {
    display: flex;
  }

  #side-menu-toggle {
    display: none;
  }

  .user-message {
    width: 30rem;
  }

  button.btn {
    max-width: 60%;
    margin: 20px 15%;
  }

  fieldset.form-control,
div.form-control,
fieldset.form-control {
    max-width: 50vw;
  }
}

/*# sourceMappingURL=main.css.map */
