<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/course.css">
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  
  <main>
    <h1>Courses User is enrolled in</h1>
    <% if (courses.length > 0) { %>
      <div class="container">
          <% for (let course of courses) { %>
            <div class="course-container">
              <h3 class="course_title"><%= course.title %></h3>
              <% if (isAuthenticated) { %>
                  <div>Authenticated</div>
              <% } %>
            </div>
          <% } %>
      </div>
  <% } else { %>
      <h2>No courses found!</h1>
  <% } %>
  </main>
      <%- include('../includes/end.ejs') %>