<%- include('../includes/head.ejs') %>

</head>

<body>
  <%- include('../includes/navigation.ejs') %>

  <main>
      <form method="POST" action="/user/teach-with-us">
        <fieldset class="form-control">
          <legend class="form-control">Teach With Us</legend>
            <div class="form-control">
              <label for="userName">Name</label>
              <input id="userName" type="text" name="userName">
            </div>
            <div class="form-control">
              <label for="userEmail">Email</label>
              <input id="userEmail" type="email" name="userEmail">
            </div>
            <div class="form-control">
              <label for="userPurpose">Why do you want to teach?</label>
              <textarea id="userPurpose" name="userPurpose"></textarea>
            </div>
            <div class="form-control">
              <input type="hidden" name="userId" value="<%=user.id %>">
              <button class="btn" type="submit">Signup</button>
            </div>
        </fieldset>
      </form>
  </main>

<%- include('../includes/end.ejs') %>